body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: hsl(220, 15%, 55%);
}

#box {
    background-color: hsl(0, 0%, 100%);
}

#bold-text {
    font-weight: 700;
}

#light-text {
    font-weight: 400;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}